In [17]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm
import json
import pickle
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

### 1.Problem Statement

### 2.data Gathering:

In [5]:
df=pd.read_csv("online.csv")
df

    Marketing Spend  Administration  Transport     Area     Profit
0         114523.61       136897.80  471784.10    Dhaka  192261.83
1         162597.70       151377.59  443898.53      Ctg  191792.06
2         153441.51       101145.55  407934.54  Rangpur  191050.39
3         144372.41       118671.85  383199.62    Dhaka  182901.99
4         142107.34        91391.77  366168.42  Rangpur  166187.94
5         131876.90        99814.71  362861.36    Dhaka  156991.12
6         134615.46       147198.87  127716.82      Ctg  156122.51
7         130298.13       145530.06  323876.68  Rangpur  155752.60
8         120542.52       148718.95  311613.29    Dhaka  152211.77
9         123334.88       108679.17  304981.62      Ctg  149759.96
10        101913.08       110594.11  229160.95  Rangpur  146121.95
11        100671.96        91790.61  249744.55      Ctg  144259.40
12         93863.75       127320.38  249839.44  Rangpur  141585.52
13         91992.39       135495.07  252664.93      Ctg  134307.35
14        119943.24       156547.42  256512.92  Rangpur  132602.65
15        165349.20       122616.84  261776.23    Dhaka  129917.04
16         78013.11       121597.55  264346.06      Ctg  126992.93
17         94657.16       145077.58  282574.31    Dhaka  125370.37
18         91749.16       114175.79  294919.57  Rangpur  124266.90
19         86419.70       153514.11       0.00    Dhaka  122776.86
20         76253.86       113867.30  298664.47      Ctg  118474.03
21         78389.47       153773.43  299737.29    Dhaka  111313.02
22         73994.56       122782.75  303319.26  Rangpur  110352.25
23         67532.53       105751.03  304768.73  Rangpur  108733.99
24         77044.01        99281.34  140574.81    Dhaka  108552.04
25         64664.71       139553.16  137962.62      Ctg  107404.34
26         75328.87       144135.98  134050.07  Rangpur  105733.54
27         72107.60       127864.55  353183.81    Dhaka  105008.31
28         66051.52       182645.56  118148.20  Rangpur  103282.38
29         65605.48       153032.06  107138.38    Dhaka  101004.64
30         61994.48       115641.28   91131.24  Rangpur   99937.59
31         61136.38       152701.92   88218.23    Dhaka   97483.56
32         63408.86       129219.61   46085.25      Ctg   97427.84
33         55493.95       103057.49  214634.81  Rangpur   96778.92
34         46426.07       157693.92  210797.67      Ctg   96712.80
35         46014.02        85047.44  205517.64    Dhaka   96479.51
36         28663.76       127056.21  201126.82  Rangpur   90708.19
37         44069.95        51283.14  197029.42      Ctg   89949.14
38         20229.59        65947.93  185265.10    Dhaka   81229.06
39         38558.51        82982.09  174999.30      Ctg   81005.76
40         28754.33       118546.05  172795.67      Ctg   78239.91
41         27892.92        84710.77  164470.71  Rangpur   77798.83
42         23640.93        96189.63  148001.11      Ctg   71498.49
43         15505.73       127382.30   35534.17    Dhaka   69758.98
44         22177.74       154806.14   28334.72      Ctg   65200.33
45          1000.23       124153.04    1903.93    Dhaka   64926.08
46          1315.46       115816.21  297114.46  Rangpur   49490.75
47             0.00       135426.92       0.00      Ctg   42559.73
48           542.05        51743.15       0.00    Dhaka   35673.41
49             0.00       116983.80   45173.06      Ctg   14681.40

In [44]:
df.rename({"Marketing Spend":"Marketing_Spend"},axis=1,inplace=True)

In [45]:
df

    Marketing_Spend  Administration  Transport  Area     Profit
0         114523.61       136897.80  471784.10     0  192261.83
1         162597.70       151377.59  443898.53     1  191792.06
2         153441.51       101145.55  407934.54     2  191050.39
3         144372.41       118671.85  383199.62     0  182901.99
4         142107.34        91391.77  366168.42     2  166187.94
5         131876.90        99814.71  362861.36     0  156991.12
6         134615.46       147198.87  127716.82     1  156122.51
7         130298.13       145530.06  323876.68     2  155752.60
8         120542.52       148718.95  311613.29     0  152211.77
9         123334.88       108679.17  304981.62     1  149759.96
10        101913.08       110594.11  229160.95     2  146121.95
11        100671.96        91790.61  249744.55     1  144259.40
12         93863.75       127320.38  249839.44     2  141585.52
13         91992.39       135495.07  252664.93     1  134307.35
14        119943.24       156547.42  256512.92     2  132602.65
15        165349.20       122616.84  261776.23     0  129917.04
16         78013.11       121597.55  264346.06     1  126992.93
17         94657.16       145077.58  282574.31     0  125370.37
18         91749.16       114175.79  294919.57     2  124266.90
19         86419.70       153514.11       0.00     0  122776.86
20         76253.86       113867.30  298664.47     1  118474.03
21         78389.47       153773.43  299737.29     0  111313.02
22         73994.56       122782.75  303319.26     2  110352.25
23         67532.53       105751.03  304768.73     2  108733.99
24         77044.01        99281.34  140574.81     0  108552.04
25         64664.71       139553.16  137962.62     1  107404.34
26         75328.87       144135.98  134050.07     2  105733.54
27         72107.60       127864.55  353183.81     0  105008.31
28         66051.52       182645.56  118148.20     2  103282.38
29         65605.48       153032.06  107138.38     0  101004.64
30         61994.48       115641.28   91131.24     2   99937.59
31         61136.38       152701.92   88218.23     0   97483.56
32         63408.86       129219.61   46085.25     1   97427.84
33         55493.95       103057.49  214634.81     2   96778.92
34         46426.07       157693.92  210797.67     1   96712.80
35         46014.02        85047.44  205517.64     0   96479.51
36         28663.76       127056.21  201126.82     2   90708.19
37         44069.95        51283.14  197029.42     1   89949.14
38         20229.59        65947.93  185265.10     0   81229.06
39         38558.51        82982.09  174999.30     1   81005.76
40         28754.33       118546.05  172795.67     1   78239.91
41         27892.92        84710.77  164470.71     2   77798.83
42         23640.93        96189.63  148001.11     1   71498.49
43         15505.73       127382.30   35534.17     0   69758.98
44         22177.74       154806.14   28334.72     1   65200.33
45          1000.23       124153.04    1903.93     0   64926.08
46          1315.46       115816.21  297114.46     2   49490.75
47             0.00       135426.92       0.00     1   42559.73
48           542.05        51743.15       0.00     0   35673.41
49             0.00       116983.80   45173.06     1   14681.40

In [46]:
df.corr()

,Marketing_Spend,Administration,Transport,Area,Profit
Marketing_Spend,1.000000,0.230437,0.685442,0.037930,0.937948
Administration,0.230437,1.000000,-0.032154,0.003026,0.200717
Transport,0.685442,-0.032154,1.000000,0.137777,0.747766
Area,0.037930,0.003026,0.137777,1.000000,0.048471
Profit,0.937948,0.200717,0.747766,0.048471,1.000000

In [47]:
#df.replace({"Marketing Spend":"Marketing_Spend"},inplace=True)

In [48]:
df["Area"].value_counts().to_dict()

{0: 17, 1: 17, 2: 16}

In [49]:
df["Area"].replace({'Dhaka': 0, 'Ctg': 1, 'Rangpur': 2},inplace=True)

In [50]:
x=df.drop("Profit",axis=1)
y=df["Profit"]
x

    Marketing_Spend  Administration  Transport  Area
0         114523.61       136897.80  471784.10     0
1         162597.70       151377.59  443898.53     1
2         153441.51       101145.55  407934.54     2
3         144372.41       118671.85  383199.62     0
4         142107.34        91391.77  366168.42     2
5         131876.90        99814.71  362861.36     0
6         134615.46       147198.87  127716.82     1
7         130298.13       145530.06  323876.68     2
8         120542.52       148718.95  311613.29     0
9         123334.88       108679.17  304981.62     1
10        101913.08       110594.11  229160.95     2
11        100671.96        91790.61  249744.55     1
12         93863.75       127320.38  249839.44     2
13         91992.39       135495.07  252664.93     1
14        119943.24       156547.42  256512.92     2
15        165349.20       122616.84  261776.23     0
16         78013.11       121597.55  264346.06     1
17         94657.16       145077.58  282574.31     0
18         91749.16       114175.79  294919.57     2
19         86419.70       153514.11       0.00     0
20         76253.86       113867.30  298664.47     1
21         78389.47       153773.43  299737.29     0
22         73994.56       122782.75  303319.26     2
23         67532.53       105751.03  304768.73     2
24         77044.01        99281.34  140574.81     0
25         64664.71       139553.16  137962.62     1
26         75328.87       144135.98  134050.07     2
27         72107.60       127864.55  353183.81     0
28         66051.52       182645.56  118148.20     2
29         65605.48       153032.06  107138.38     0
30         61994.48       115641.28   91131.24     2
31         61136.38       152701.92   88218.23     0
32         63408.86       129219.61   46085.25     1
33         55493.95       103057.49  214634.81     2
34         46426.07       157693.92  210797.67     1
35         46014.02        85047.44  205517.64     0
36         28663.76       127056.21  201126.82     2
37         44069.95        51283.14  197029.42     1
38         20229.59        65947.93  185265.10     0
39         38558.51        82982.09  174999.30     1
40         28754.33       118546.05  172795.67     1
41         27892.92        84710.77  164470.71     2
42         23640.93        96189.63  148001.11     1
43         15505.73       127382.30   35534.17     0
44         22177.74       154806.14   28334.72     1
45          1000.23       124153.04    1903.93     0
46          1315.46       115816.21  297114.46     2
47             0.00       135426.92       0.00     1
48           542.05        51743.15       0.00     0
49             0.00       116983.80   45173.06     1

In [51]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=30)

In [52]:
lr_model=LinearRegression()
lr_model.fit(x_train,y_train)

LinearRegression()

In [53]:
yp_train=lr_model.predict(x_train)
mse=mean_absolute_error(y_train,yp_train)
print("MSE",mse)

r2=r2_score(y_train,yp_train)
print("R2 score:",r2)

MSE 9957.46924288979
R2 score: 0.9042599066829629

In [54]:
yp_test=lr_model.predict(x_test)
mse=mean_absolute_error(y_test,yp_test)
print("MSE",mse)

r2=r2_score(y_test,yp_test)
print("R2 score:",r2)

MSE 7000.231224726511
R2 score: 0.8112806058029401

##### write a code for one user input:

In [59]:

Marketing_Spend =114523.61
Administration  =136897.80
Transport       =471784.10
Area            ="Dhaka"
#Profit=?

In [61]:
Project_data={
    "Area":{'Dhaka': 0, 'Ctg': 1, 'Rangpur': 2},
    "columns":list(x.columns)}

In [62]:
columns_name=x.columns

array=np.zeros(x.shape[1])
array[0]=Marketing_Spend
array[1]=Administration
array[2]=Transport
array[3]=Project_data["Area"][Area]
array

array([114523.61, 136897.8 , 471784.1 ,      0.  ])

In [63]:
with open("Linear_Model.pkl","wb") as f:
    pickle.dump(lr_model,f)

In [64]:
with open("Project_data.json","w") as f:
    json.dump(Project_data,f)